parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        # Allow dynamic properties in tests
        - '#Access to an undefined property Tests\\#'
        # Allow shell_exec in integration tests
        - '#Function shell_exec is unsafe#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
